
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: blue;
}
li{
    float:left;
    width: 250px;
    height: 250px;
}

li a:hover {
    background-color: #111;
    color: purple;
  }

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 18px;
    text-decoration:none;
}
